.first_project {
    text-align: center;
    color: black; 
    margin-top: 40px;
}

.card {
    width: 70%;
    height: auto;
    justify-content: center;
}

nav {
    color: black;
    font-size: bolder;
}

.content {
    margin-top: 100px;
}

nav a {
    color: black;
}

