.first_project {
    text-align: center;
    color: black; 
}

.card {
    width: 70%;
    height: auto;
    justify-content: center;
}

.navbar {
    position: relative;
    display: block;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.content {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

nav a {
    color: black;
}

