<!-- Photo carousel -->
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/img/les_derevia_tuman_110131_1920x1080.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/img/ozero_gory_derevia_129959_1920x1080.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/img/reka_derevia_tuman_100440_1920x1080.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>